<!DOCTYPE html>
<html>
  <head>
    <title>DBL WebApp</title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
  </head>
  <body>

    <% include templates/header.ejs %>
    
    <% include templates/fileUpload.ejs %>




  </body>
</html>
