<!DOCTYPE html>


<% include templates/style.ejs%>

<body id="home_page">
<div>
    <% include templates/nav.ejs %>
</div>

<div id="Home">

    <div class="col-xs-2">

    </div>

    <div class="col-xs-8">

        <h2 id="first_heading"> Welcome to our project website!</h2>
        <p>
            Made by: D.D.K. Kregtich, Jakub Jerzy Chrupek, Jan Jacob Cozijnsen, Robin Daniël van Hoorn, Yeochan Yoon and
            Zakaria Ameziane
        </p>

        <hr>
        <h3 id="second_heading"> Visualize your Newick format files </h3>

        <p>
            We have designed our own visualization program,
            which is compatible for Newick tree format.
        </p>

        <hr/>
        <h3 id="third_heading">Introduction Video</h3>
        <p>This introduction video is also a tutorial on how to use the tool.</p>
        <br/>
        <iframe id="vid" src="https://www.youtube.com/embed/H8a_cFjZUwQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    </div>

    <div class="col-xs-2">

    </div>
</div>


</body>

<script src="/javascripts/visual1.js"></script>

</html>