<% include templates/style.ejs%>

<head>
  <% include templates/nav.ejs %>
</head>

                 <div id="intro">

                   <div class="col-xs-2">

                   </div>

                    <div class="col-xs-8">

                        <h3 id="intro_heading" ><font size="25"> Visualize your Newick format file</font></h3>
                        <br>
                        <form action="/visualization">
                            <input type="submit" class="HomeButton" value="visualization"/>
                        </form>
                    </div>

                   <div class="col-xs-2">

                   </div>

                 </div>