<% include templates/style.ejs%>

<head>
    <% include templates/nav.ejs %>
</head>


<div id="intro">
    <div class="landing-text">

        <h1>Visualize your </h1>
        <h3> Newick format file</h3>
        <br>
        <form action="/visualization">
            <input type="submit" class="HomeButton" value="visualization"/>
        </form>

    </div>



</div>