<!DOCTYPE html>


<% include templates/style.ejs%>

<body id="report_page">

<div> 
	<% include templates/nav.ejs%>
</div>

<div class="col-xs-2">

</div>

<div class="col-xs-8">
    <br/>
    <object id="pdf" data="/media/report.pdf"></object>
</div>

<div class="col-xs-2">

</div>



</body>


</html>