<!DOCTYPE html>


<% include templates/style.ejs%>

<body id="report_page">

<div>
    <% include templates/nav.ejs%>
</div>


<div >
    <object class="embed-responsive-item" id="pdf" data="/media/report.pdf" ></object>
</div>




</body>


</html>