<!DOCTYPE html>


<% include templates/style.ejs %>

<link rel="stylesheet" href="stylesheets/visStyle.css">
<body id="visual_page">

<div>
    <% include templates/nav.ejs %>
</div>

<br/>

<div class="row">
    <div class="col-xs-2">

    </div>

    <div class="col-xs-4">
        <div class="panel panel-default">

            <div class="panel-heading">
                Upload Files
            </div>

            <div class="panel-body">
                <% include templates/fileUpload.ejs %>
            </div>

        </div>
    </div>

    <div class="col-xs-4">
        <div class="panel panel-default">

            <div class="panel-heading">
                Saved Files
            </div>


            <div class="panel-body" id="file_select">

                <% include templates/selectingTrees.ejs %>

            </div>

        </div>
    </div>

    <div class="col-xs-2">

    </div>
</div>

    <div class="row">
       
    <div class="col-xs-2">

    </div>
        <div class="col-xs-8">
            <div class="panel panel-primary">
               <div class="panel-heading">
               Interaction
               </div>

               <div class="panel-body">
                    <p id="generalExplanation">Your Newick file will be visualized in two different ways.
                       The first visualization is a sunburst visualization, which shows the current selected node, its children and its grandchildren.
                       The size of the nodes is determined by the number of nodes in its subtree.
                       If a node is too small compared to its ‘nephews’, it won’t show up in the sunburst.
                       Fortunately, it will show up in the second visualization. <br/>
                       The second visualization is a collapsible tree visualization.
                       This visualization shows node names and position.
                       The purpose of this visual is to give detail.
                   </p>

                   <p id="description1"> The sunburst visualization has both hover and click interaction.</p>
                   <p id="detail_1">-   When hovering over the sunburst visualization it highlights the node and all its ancestors by fading out all nodes except itself and its ancestors.<br/>
                    -   When clicking on a node in the sunburst visualization the sunburst zooms in on that node. <br/>
                    -   Clicking on the center of the sunburst visualization makes the sunburst visual zoom out one generation.<br/><p>
                   <p id="description2"> The tree visualization also has hover and click interaction.<br/></p>
                   <p id="detail_2"> -   When hovering over a node in the tree visualization, it highlights all its ancestors by fading out all connections between nodes except the paths between the root and the node that is hovered over.<br/>
                    -   When clicking on a collapsed (pink) node, the node unfolds and shows all its children. If one of those children was previously unfolded – and not collapsed again – it will still be unfolded.<br/>
                    -   When clicking on an unfolded (white) node (except the root), the node will collapse. After collapsing, the node will not show any descendants.<br/>
                    <p id="description3">   Next to their own interactions, the visualizations also interact with each other.</p>
                  <p id="detail_3">  -   When hovering/clicking the sunburst visualization, the same node will be hovered/clicked in the tree visualization.<br/>
                    o   Clicking on a node in the tree visualization, that is currently not visible in the sunburst visualization will still zoom the sunburst visualization to that node.<br/>
                    When hovering any node it, it will show all names of ancestor nodes underneath the visualizations. This represents the node path with names in case this isn’t visible anymore in the normal visualizations.
                </p>

                   <p><b>Note:</b> Extensively large datasets may require some time to load.<br/>
                       <b>Note 2:</b> The tree visualization will initially appear in the middle of the screen. However, when trying to drag for the first time it will move to the left top center. This is a knows bug, which right now can't be fixed because of the source code of d3 (one of the libraries used for making this tool).
                   </p>
               </div> 
            </div>
        </div>

        
    </div>

</div>

    <script src="/javascripts/deleteRequest.js"></script>
    <script src="/javascripts/visRequest.js"></script>
</body>


</html>
