<!DOCTYPE html>


<% include templates/style.ejs%>

<head>
    <% include templates/nav.ejs%>
</head>

<body id="team_page">


  
<div>
    <div id="Team">
                    <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="section_title">
                                <h2>Meet Our Team</h2>
                            </div>
                            <p>
                                This website is made by a group of six first year students
                                at Technische Universiteit Eindhoven (TU/e), working on a DBL
                                HTI+Webtech project
                            </p>
                        </div>
                    </div> <br><br><br><br>

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="team-item">
                                    <img src="photos/pic.jpg" alt="">
                                    <div class="info">
                                        <h5 class="ctit">Daemon Keith </h5>
                                        <h6> Computer science student</h6>
                                        <h7> @gmail.com</h7>

                                    </div>


                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="team-item">
                                    <img src="photos/pic.jpg" alt="">
                                    <div class="info">
                                        <h5 class="ctit">Robin van Hoorn</h5>
                                        <h6> Computer science student</h6>
                                        <h7> @gmail.com</h7>

                                    </div>


                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="team-item">
                                    <img src="photos/pic.jpg" alt="">
                                    <div class="info">
                                        <h5 class="ctit">Jakub Chrupek</h5>
                                        <h6> Computer science student</h6>
                                        <h7> @gmail.com</h7>

                                    </div>


                                </div>
                            </div>

                        </div> <br><br><br>

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="team-item">
                                    <img src="photos/pic.jpg" alt="">
                                    <div class="info">
                                        <h5 class="ctit">Yeochan Yoon</h5>
                                        <h6> Computer science student</h6>
                                        <h7>@gmail.com</h7>

                                    </div>


                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="team-item">
                                    <img src="photos/pic.jpg" alt="">
                                    <div class="info">
                                        <h5 class="ctit">Jan Cozijnsen</h5>
                                        <h6> Computer science student</h6>
                                        <h7> @gmail.com</h7>

                                    </div>


                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="team-item">
                                    <img src="photos/pic.jpg" alt="">
                                    <div class="info">
                                        <h5 class="ctit">Zakaria Ameziane</h5>
                                        <h6> Computer science student</h6>
                                        <h7> zakaria.ameziane01@gmail.com</h7>

                                    </div>


                                </div>
                            </div>

                        </div>



</body>


</html>