<!DOCTYPE html>


<% include templates/style.ejs%>

<body id="team_page">

<div> 
	<% include templates/nav.ejs%>
</div>
  
<div>
	<div id="Team">
                    <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="section_title">
                                <h2>Meet Our Team</h2>
                            </div>
                            <p>
                                DBL 10D DBL 10D DBL 10D DBL 10D
                            </p>
                        </div>
                        </div> <br><br><br><br>  
                        
                        <div class="row">
                        <div class="col-sm-3">
                            <div class="team-item">
                                <img src="../public/photos/pic.jpg" alt="">
                                <div class="info">
                                    <h5 class="ctit">Zakaria </h5>
                                    <h6> web developer</h6>
                                    <h7> zakaria@gmail.com</h7>
                                
                                </div>
                                
                                
                            </div>
                            </div>    
                        <div class="col-sm-3">
                            <div class="team-item">
                                <img src="../public/photos/pic.jpg" alt="">
                                <div class="info">
                                    <h5 class="ctit">Zakaria</h5>
                                    <h6> web developer</h6>
                                    <h7> zakaria@gmail.com</h7>
                                
                                </div>
                                
                                
                            </div>
                            </div>  
                        <div class="col-sm-3">
                            <div class="team-item">
                                <img src="../public/photos/pic.jpg" alt="">
                                <div class="info">
                                    <h5 class="ctit">Zakaria</h5>
                                    <h6> web developer</h6>
                                    <h7> zakaria@gmail.com</h7>
                                
                                </div>
                                
                                
                            </div>
                            </div>     
                            
                        </div> <br><br><br>
                        
                        <div class="row">
                        <div class="col-sm-3">
                            <div class="team-item">
                                <img src="../public/photos/pic.jpg" alt="">
                                <div class="info">
                                    <h5 class="ctit">Zakaria</h5>
                                    <h6> web developer</h6>
                                    <h7> zakaria@gmail.com</h7>
                                
                                </div>
                                
                                
                            </div>
                            </div>    
                        <div class="col-sm-3">
                            <div class="team-item">
                                <img src="../public/photos/pic.jpg" alt="">
                                <div class="info">
                                    <h5 class="ctit">Zakaria</h5>
                                    <h6> web developer</h6>
                                    <h7> zakaria@gmail.com</h7>
                                
                                </div>
                                
                                
                            </div>
                            </div>  
                        <div class="col-sm-3">
                            <div class="team-item">
                                <img src="../public/photos/pic.jpg" alt="">
                                <div class="info">
                                    <h5 class="ctit">Zakaria</h5>
                                    <h6> web developer</h6>
                                    <h7> zakaria@gmail.com</h7>
                                
                                </div>
                                
                                
                            </div>
                            </div>     
                            
                        </div>
                        
                    </div>

</div>



</body>


</html>