<!DOCTYPE html>
<% include templates/style.ejs %>

<head>
    <% include templates/nav.ejs %>
</head>

<body id="team_page">

<div>
    <div id="Team">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="section_title">
                        <h2>Meet Our Team</h2>
                    </div>
                    <p>
                        This website is made by a group of six first year students
                        at Technische Universiteit Eindhoven (TU/e), working on a DBL
                        HTI+Webtech project
                    </p>
                </div>
            </div>
            <br><br><br><br>

            <div class="row">
                <div class="col-sm-3">
                    <div class="team-item">
                        <img src="photos/PictureDaemonKeith.jpeg" alt="" height="173px">
                        <div class="info">
                            <h5 class="ctit">Daemon Keith </h5>
                            <h6> Computer science student</h6>
                            <h7> d.d.k.kregting@student.tue.nl</h7>

                        </div>


                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-item">
                        <img src="photos/PictureRobinvanHoorn.jpg" alt="" height="173px">
                        <div class="info">
                            <h5 class="ctit">Robin van Hoorn</h5>
                            <h6> Computer science student</h6>
                            <h7> r.d.v.hoorn@student.tue.nl</h7>

                        </div>


                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-item">
                        <img src="photos/Picture Jakub Chrupek.jpg" alt="" height="173px">
                        <div class="info">
                            <h5 class="ctit">Jakub Chrupek</h5>
                            <h6> Computer science student</h6>
                            <h7> j.j.chuprek@student.tue.nl</h7>

                        </div>


                    </div>
                </div>

            </div>
            <br><br><br>

            <div class="row">
                <div class="col-sm-3">
                    <div class="team-item">
                        <img src="photos/PicYeochan.jpeg" alt="" height="173px">
                        <div class="info">
                            <h5 class="ctit">Yeochan Yoon</h5>
                            <h6> Computer science student</h6>
                            <h7>y.yoon@student.tue.nl</h7>

                        </div>


                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-item">
                        <img src="photos/PictureJanCozijnsen.jpeg" alt="" height="173px">
                        <div class="info">
                            <h5 class="ctit">Jan Cozijnsen</h5>
                            <h6> Computer science student</h6>
                            <h7> j.j.conzijnsen@student.tue.nl</h7>

                        </div>


                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-item">
                        <img src="photos/PicZakaria.jpeg" alt="" height="173px">
                        <div class="info">
                            <h5 class="ctit">Zakaria Ameziane</h5>
                            <h6> Computer science student</h6>
                            <h7> zakaria.ameziane01@gmail.com</h7>

                        </div>


                    </div>
                </div>

            </div>

</body>
</html>