<!DOCTYPE html>


<% include templates/style.ejs%>

<body id="visual_page">

	<div> 
		<% include templates/nav.ejs%>
	</div>
	  
	<div>
		<% include templates/visual.ejs %> 
	</div>

	<div>
		<% include templates/popup.ejs %>
	</div>


<script src="/javascripts/deleteRequest.js"></script>
</body>


</html>