<!DOCTYPE html>
<html>
<head>
    <title>Visualizing</title>
</head>
<body>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="public/javascripts/visual1.js"></script>

    <link type="text/css" href="../public/stylesheets/visStyle.css">

    <div id="wrapperVis">
        <div id="sunburstVisualDiv"></div>
        <div id="treeVisualDiv">
            <svg width="800" height="500" id="treeVisual"></svg>
        </div>
        <div id='nodePath'></div>
    </div>

    <script>


    </script>
</body>