<form
      id="uploadForm"
      action="/file_upload"
      method="post"
      enctype="multipart/form-data">
    <input type="file" name="file" size="50"/>
    <br />
    <input type="submit" value="Upload File" class="btn" disabled />

</form>
<script>
    $(document).ready(
        function(){
            $('input:file').change(
                function(){
                    if ($(this).val()) {
                        $('input:submit').attr('disabled',false);
                        // or, as has been pointed out elsewhere:
                        // $('input:submit').removeAttr('disabled');
                    }
                }
            );
        });
</script>