	<div class="topnav">
      <nav class="nav navbar-default" id="nav">
      	<ul class="nav navbar-nav" id="nav_heading">
      		 <li><a href="/">Home</a></li>
	         <li><a href="/intro">Intro</a></li>
	         <li><a href="/visualization" >Visualization</a></li>
	         <li><a href="/report" >Report</a></li>
	         <li><a href="/team">Team</a></li>
	    </ul>
      </nav>
	</div>