<ul id="viz-selector">
    <% trees.forEach(function(each){ %>
    <li><a class="btn btn-default" id="<%= each%>selector"><%=each%></a>
        <button type="button" class="btn btn-danger" id="<%=each%>">X</button>
    </li>
    <br/>
    <%  });%>
</ul>