<div class="col-xs-10">

    <div class="modal" id="modal">

        <div class="col-xs-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Visualization 1 - Sunburst
                </div>

                <div class="panel-body">
                    <div id="sunburstVisualDiv"></div>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Visualization 2 - Tree
                </div>

                <div class="panel-body">
                    <div id="treeVisualDIv">
                        <svg id="treeVisual"></svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Node Path
                </div>
                <div class="panel-body">
                    <div id="nodePath"></div>
                </div>
            </div>
        </div>
    </div>

</div>
