#first_heading {
    font-family:'Georgia';
}
#first_p {
    font-size: 0.8em;
}
#second_heading {
    font-family:'Georgia';
}
#second_p {
    font-size:0.8em
}
#third_heading {
    font-family:'Georgia';
}
#vid {
    height:  100%;
    width: 80%;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
.nav {
    background-color:#e5fff6;
}
#pdf {
    height:750px;
    width: 800px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}