

body{
    font-family: 'Georgia';
}
head {
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style-type: none;
}

#intro{
    margin: 0;
    padding: 400px;
    text-align: right;
    background:url(Home-Page-Background-II.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'sans-serif';
}

#intro_heading {
    margin-top: -100px;
    color: aliceblue;
    font-family:'Georgia';
}
.HomeButton{
    background: aliceblue;
    color: black;
    border: none;
    height: 40px;
    width: 150px;
    cursor: pointer;
        
}

#first_p {
    font-size: 0.8em;
}


#second_p {
    font-size: 0.8em
}


#vid {
    height: 400px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    background-color: #e5fff6;
}

#pdf {
    height: 750px;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#file_select {
    height: 103px;
    overflow-y: scroll;

}

#modal {
    position: absolute;
    height: 600px;
    top: 5px;
}

#modalheader {
    font-size: 0.8em;
}

#modal_body {
    height: 500px;
}

#explain_pop {
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    margin-top: 150px;
}



    


