

#intro{
    margin: 0;
    padding: 400px;
    text-align: right;
    background:url("../photos/Home-Page-Background-II.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
#intro_heading {
    margin-top: -100px;
    color: aliceblue;
    font-family:'Georgia';
}
.HomeButton{
    background: aliceblue;
    color: black;
    border: none;
    height: 40px;
    width: 150px;
    cursor: pointer;

}
body{
    font-family: 'Georgia';
}
li{
    list-style-type: none;
}
#first_p {
    font-size: 0.8em;
}


#second_p {
    font-size: 0.8em
}


#vid {
    height: 400px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    background-color: #e5fff6;
}

#description1 {
    margin-top:1px;
    margin-bottom:1px;
    line-height:25px;
    font-weight: bolder;
}
#detail_1 {
    font-family: Arial
}
#description2 {
    margin-top:1px;
    margin-bottom:1px;
    line-height:25px;
    font-weight: bolder;

}
#detail_2 {
    font-family: Arial

}
#description3 {
    margin-top:1px;
    margin-bottom:1px;
    line-height:25px;
    font-weight: bolder;

}
#detail_3 {
    font-family: Arial
}

#pdf {
    height: 750px;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#file_select {
    height: 103px;
    overflow-y: scroll;

}

#modal {
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    width: 90%;
    top: 100px;
    display: block;

}

#modalheader {
    font-size: 0.8em;
}

#modal_body {
    height: -webkit-fill-available;
}

#explain_pop {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: 150px;
}

#nav_heading {
    font-family: Arial;
    font-weight: bold;
}

    


