circle,
path {
    cursor: pointer;
}

circle {
    fill: none;
    pointer-events: all;
}

#nodePath {
    font-size: 1em;
}

.node {
    user-select: none;
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: #ff8d7c;
    stroke-width: 1.5px;
}

.node text {
    font: 12px sans-serif;
    font-weight: bold;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

#treeVisual {
    height: 400px;
    width: 100%;
}

#sunburstVisualDiv {
    width: 100%;
    height: 400px;
}
